body{
    margin: 0;
    box-sizing: border-box;
    background: black;
    background: url('./images/wallpaper3.jpg') fixed;
    background-size: cover;
}

#difference{
    width: 100%;
    position: absolute;
    bottom: 34%;
    left: 36%;
    color:rgb(255, 255, 255);
    font-size: 32px;
}

#timer-image{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px -12px 12px rgba(0,0,0,1);
}

#img{
    cursor: pointer;
}
#day,#hour,#minute,#seconds {
    position: absolute;
    width: 50px;
    height: 35px;
    text-align: center;
    left: -2%;
}

#hour{
    left: 6.75%;
}

#minute{
    left: 15.5%;
}

#seconds{
    left: 24.25%;
}

#logo{
    position: absolute;
    text-align: center;
    width: 100%;
    top: -70%;
}

